---
---

@import "{{ site.theme }}";
aside {
    background-color: #00254B;
    bottom: 0;
    color: rgba(255,255,255,0.5);
    font-size: 1.125rem;
    left: 0;
    padding: 2rem 2rem;
    overflow: auto;
    position: fixed;
    text-align: left;
    top: 0;
    width: 20rem;
}

body {
  color: #00254B;
}

img {
  max-width: 50%;
}

hr{
  height: 1px;
  color: white;
  background-color: white;
  border: none;
}

h4 {
    color: rgba(181, 151, 89, 1.0);
}

h5 {
    text-align: center;
    color: rgba(181, 151, 89, 1.0);
}
